html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  background-color: rgb(238, 243, 242);
  background-image: radial-gradient(cyan, magenta);
}

h1 {
  border: thick solid blanchedalmond;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(5, 96, 96);
  opacity: 0.75;
  box-shadow: 1rem 1rem 2rem 0.5rem #0007;
}
.p1 {
  text-align: center;
  border: thin solid blanchedalmond;
  border-radius: 1rem;
  font-size: 32px;
}
.Henry svg {
  height: 30vh;
  width: 70vh;
  margin: auto;
  display: flex;
}

h2 {
  border: thin solid blanchedalmond;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(5, 96, 96);
  opacity: 0.75;
  box-shadow: 1rem 1rem 2rem 0.5rem #0007;
}

h3 {
  border: thin solid blanchedalmond;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(5, 96, 96);
  opacity: 0.75;
  box-shadow: 1rem 1rem 2rem 0.5rem #0007;
}
svg {
  width: 100%;
  height: auto;
  flex-basis: 20%;
}
.svg {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: row nowrap;
}

.contain-eti svg {
  height: 30vh;
  width: 70vh;
  margin: auto;
  display: flex;
  background-size: cover;
  flex-basis: 300px;
  position: sticky;
  transition: 400ms all ease;
  filter: grayscale(100%) opacity(35%);
}

.contain-eti svg:hover {
  flex-basis: 400px;
  filter: grayscale(0%) opacity(100%);
}

li {
  list-style-type: lower-roman;
}
